/* ==========================================================================
   PostCSS Click Example
   https://github.com/ismamz/postcss-click-example
   ========================================================================== */

body {
  padding-bottom: 300px;
}

hr {
  margin: 4em 0;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

/* Example 1
   ========================================================================== */
#target {
  padding: 1.5rem;
  border: 1px solid #ccc;
  margin: 1.5rem 0;
  transition: all .5s ease;
}

.active {
  color: #fff;
}


/* Example 2
   ========================================================================== */
.foo,
.bar {
  background-color: #f3f3f3;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transition: background-color .5s ease;
}


/* Example 3
   ========================================================================== */

#collapse-example {
  margin-top: 20px;
}

.container {
  padding-top: 30px;
}

.target {
  padding: 2rem;
  margin-top: 2rem;
  background-color: #f3f3f3;
}

